<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="br.ufms.facom.student.cloud.cli.Server" />
    <module name="Cloud" />
    <option name="PROGRAM_PARAMETERS" value="out/cloud-drive" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>